Architecture: iphoneos-arm
Name: [NeonUtil] Master Restore
Package: com.nvtechnology.neonutil-masterrestore
Version: 1000
Author: HTTP410GONE <hysong0129@gmail.com>
Maintainer: NVTechnology Korea <nvtechkr@gmail.com>
Depends: firmware (>= 10.0), com.nvtechnology.libuilder, com.nvtechnology.neonutil-interface, com.nvtechnology.neonutil-core, com.nvtechnology.neonutil-debrestore, com.nvtechnology.neonutil-prefrestore
Description: Maintenance utility plugin.
Depiction: https://nvtechkorea.github.io/cydia/depictions/?p=com.nvtechnology.neonutil-masterrestore
Section: Neon Utility
