Architecture: iphoneos-arm
Name: [NeonUtil] Preference Cloner
Package: com.nvtechnology.neonutil-prefcloner
Version: 1000
Author: HTTP410GONE <hysong0129@gmail.com>
Maintainer: NVTechnology Korea <nvtechkr@gmail.com>
Depends: firmware (>= 10.0), com.nvtechnology.libuilder, com.nvtechnology.neonutil-interface, com.nvtechnology.neonutil-core
Description: Maintenance utility plugin.
Depiction: https://nvtechkorea.github.io/cydia/depictions/?p=com.nvtechnology.neonutil-prefcloner
Section: Neon Utility
