Architecture: iphoneos-arm
Name: [NeonUtil] Deb Backup
Package: com.nvtechnology.neonutil-debbackup
Version: 1000
Author: HTTP410GONE <hysong0129@gmail.com>
Maintainer: NVTechnology Korea <nvtechkr@gmail.com>
Depends: firmware (>= 10.0), com.nvtechnology.libuilder, com.nvtechnology.neonutil-interface, com.nvtechnology.neonutil-core, com.nvtechnology.neonutil-debcloner, zip, com.nvtechnology.neonutil-debfilter
Description: Maintenance utility plugin.
Depiction: https://nvtechkorea.github.io/cydia/depictions/?p=com.nvtechnology.neonutil-debbackup
Section: Neon Utility
