Architecture: iphoneos-arm
Name: [NeonUtil] (Ext) List Backups
Package: com.nvtechnology.neonutil-backuplist
Version: 1000
Author: HTTP410GONE <hysong0129@gmail.com>
Maintainer: NVTechnology Korea <nvtechkr@gmail.com>
Depends: firmware (>= 10.0), com.nvtechnology.libuilder, com.nvtechnology.neonutil-interface, com.nvtechnology.neonutil-core, com.nvtechnology.neonutil-tpload
Description: Maintenance utility plugin.
Section: Neon Utility
